.buttons {
    background-color: #058B8C;
    color:rgba(255, 255, 255, 0.85);
    margin: 5px 0;
    padding: 4px;
    border-radius: 4px;
}

.top {
    background-color: #4F5358;
    padding: 20px;
    border-radius: 4px;
    /*background-color: #308ce2;*/
    color: #f7f7f7;
    
}